<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="icon" href="/movie/media/transparent_duflix.png" />
    <link rel="stylesheet" href="/movie/movieDetails.css" />
  </head>
  <body id="aboutPage">
    <nav class="movie-navbar" id="movieNavbar">
      <div class="nav-contents">
        <a href="/" class="logo-link">
          <img
            src="/movie/media/duflix.png"
            alt="movie logo"
            class="movie-logo"
          />
        </a>
      </div>

      <div class="right-nav">
        <ul class="nav-links" id="navLinks">
          <li><a href="/">Home</a></li>
          <li><a href="#">Browse</a></li>
          <li><a href="#">Favourites</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <div class="hamburger" id="hamBurger">&#9776;</div>
      </div>
    </nav>
    <div class="page-wrapper">
      <div class="about-wrapper">
        <div class="about-container">
          <h2 class="about-title">ABOUT THIS PAGE</h2>
          <div class="img-area">
            <img src="/movie/media/about_img.jpg" alt="dubby-img" />
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
            officiis earum similique. Fuga qui, quia consequuntur autem,
            recusandae eveniet vel quibusdam ducimus neque necessitatibus fugiat
            illo saepe quisquam tempore reiciendis! Illo ad inventore dolorem
            animi, modi quos quis eum, atque quo architecto recusandae. Deserunt
            nihil veritatis dolores eos odio tenetur voluptatum, consectetur in
            praesentium officia explicabo, quibusdam neque quos repellat! Quis
            quaerat iusto soluta, sint accusamus quae nemo? Corporis cumque
            voluptates fugit autem non corrupti possimus saepe quas repudiandae
            natus neque, inventore cupiditate, at dolorum hic reiciendis ipsum
            delectus facere!
          </p>
        </div>
      </div>
      <footer class="movie-footer">
        <p>Copyright © 2025 Chukwulozie Chidubem</p>
      </footer>
    </div>

    <script src="/movie/movie.js"></script>
  </body>
</html>
